Informationstechnik/XML_Schema/Kontakt.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Kontakte">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Kontakt">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name">
                                <xs:complexType>
                                    <xs:attribute name="vor" type="xs:string" />
                                    <xs:attribute name="nach" type="xs:string" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Telefon">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:int">
                                            <xs:attribute name="typ" type="xs:string" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Adresse">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Strasse" type="xs:string" />
                                        <xs:element name="PLZ" type="xs:int" />
                                        <xs:element name="Ort" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:int" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>